body{
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

header{
  font: bold normal 1.8rem Arial, sans-serif;
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-block-end: -1rem;
   
}

input{
  border-radius: 1rem;
}
div#borda{
  background-color: rgb(199, 199, 199);
  border-radius: 1rem;
  height: 15rem;
  margin-left: 3rem;
  margin-right: 3rem;
  opacity: 100%;
  text-align: center;
  font: bold normal 1rem Arial, sans-serif;
}

footer {
 
}

